<% content_for :page_title do %>
  Social Media Accounts
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_facebook_account), auth_facebook_url, { class: "btn-success", icon: 'add', id: 'new_facebook_account_link' } %>
  <%= button_link_to Spree.t(:add_twitter_account), auth_twitter_url, { class: "btn-success", icon: 'add', id: 'new_twitter_account_link' } %>

<% end %>

<div id="social-media-list" data-hook>
  <table class="table" id='listing_social_media_account' data-hook>
    <thead>
      <tr data-hook="social_media_account_header">
        <th><%= Spree.t(:type) %></th>
        <th><%= Spree.t(:name) %></th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @social_media_accounts.each do |account| %>
        <tr>
          <td>
            <%= account.display_type %>
          </td>
          <td>
            <%= account.name %>
          </td>
          <td>
            <%= link_to admin_social_media_account_path(account), class: 'btn btn-primary btn-sm icon-link with-tip action-edit no-text' do %>
              <span class='icon icon-edit'></span>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if @social_media_accounts.empty? %>
        <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
