<% content_for :page_title do %>
  Social Media Accounts
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:view_linked_events), admin_social_media_marketing_events_path, { class: "btn-success", id: 'new_facebook_account_link' } %>
  <%= button_link_to Spree.t(:facebook_account), auth_facebook_url, { class: "btn-success", icon: 'add', id: 'new_facebook_account_link' } %>
  <%= button_link_to Spree.t(:twitter_account), auth_twitter_url, { class: "btn-success", icon: 'add', id: 'new_twitter_account_link' } %>

<% end %>

<div id="social-media-list" data-hook>
  <table class="table" id='listing_social_media_account' data-hook>
    <thead>
      <tr data-hook="social_media_account_header">
        <th><%= Spree.t(:type) %></th>
        <th><%= Spree.t(:account_name) %></th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @social_media_accounts.each do |account| %>
        <tr>
          <td>
            <%= account.display_account_name %>
          </td>
          <td>
            <%= account.name %>
          </td>
          <td>
            <%= link_to admin_social_media_account_path(account), method: :delete, title: 'Remove', class: 'btn btn-danger btn-sm icon-link with-tip action-delete no-text', data: { confirm: 'Are you sure you want to remove this account?', remote: false } do %>
                <span class='icon icon-delete'></span>
              <% end %>
            <%= link_to admin_social_media_account_path(account), title: 'Manage', class: 'btn btn-primary btn-sm icon-link with-tip action-edit no-text' do %>
              <span class='icon icon-cog'></span>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if @social_media_accounts.empty? %>
        <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
