<div data-hook="admin_social_media_marketing_event_form_fields">

  <div data-hook="social_media_marketing_event" class="row">
    <div class="col-md-9">
      <div class='row'>
      <div class='col-md-12'>
        <div data-hook="name" class="form-group">
          <%= label_tag :social_media_marketing_event_name, Spree.t(:name) %>:
          <b><%= @social_media_marketing_event.name.titleize %></b>
        </div>
      </div>
      </div>
      <div class='row no-padding'>
        <div class="col-md-12">
          <% class_to_run = eval(@social_media_marketing_event.class_to_run) %>
          <% if class_to_run::MARKUP_ALLOWED_METHODS.present? %>
            <p>
              Type the default post for <%= @social_media_marketing_event.name.titleize %> message. You can also add dynamic content to it by using simple markup.
            </p>
            <p>Example: &lt;method_name&gt;. <a data-toggle="collapse" data-target="#usable_methods_div" id='show-available-methods-link'>Show available methods.</a>
            </p>

            <div id="usable_methods_div" class="collapse">
              <ul>
                <% class_to_run::MARKUP_ALLOWED_METHODS.each do |method| %>
                  <li>
                    <%= method %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="col-md-12 form-group" data-hook="fb_message">
          <%= label_tag :social_media_marketing_event_message, Spree.t(:fb_message) %>
          <%= text_area :social_media_marketing_event, :fb_message, { :cols => 50, :rows => 4, :class => 'form-control social_media_post_message', data: { remove_dynamic_code: true } } %>
        </div>
        <div class="col-md-12 form-group" data-hook="twitter_message">
          <%= label_tag :social_media_marketing_event_message, Spree.t(:twitter_message) %>
          <%= text_area :social_media_marketing_event, :twitter_message, { :cols => 50, :rows => 4, :class => 'form-control social_media_post_message character-limited', data: { character_limit: Spree::SocialMediaMarketingEvent::TWITTER_MESSAGE_MAXIMUM_LENGTH, remove_dynamic_code: true } } %>
          <div class="remaining_character_block text-right" id='event-message-remaining-charachter-block'>
            <span id='remaining_character_span'></span>
          </div>
        </div>
      </div>
      <div class="row no-padding">
        <div class="col-md-12">
          <table class="table table-condensed table-bordered index social-media-account-table">
            <thead>
              <tr data-hook="rma_header">
                <th></th>
                <th><%= Spree.t(:account_name) %></th>
              </tr>
            </thead>
            <tbody>
              <%= f.fields_for :social_media_events_accounts do |q| %>
                <% events_account = q.object %>
                <tr>
                  <td>
                    <%= q.check_box :_destroy, { checked: events_account.persisted? }, '0', '1' %>
                    <%= q.hidden_field :social_media_marketing_account_id  %>
                    <%= q.hidden_field :social_media_marketing_account_type  %>
                  </td>
                  <td>
                    <div class="account-name">
                      <%= display_account_name(events_account) %>
                    </div>
                  </td>
              <% end %>
            </tbody>
          </table>
          <div data-hook="active" class="form-group">
            <span class="check-box">
              <%= check_box :social_media_marketing_event, :active %>
            </span>
            <%= label_tag :social_media_marketing_event_active, Spree.t(:active) %>
          </div>

        </div>

      </div>

    </div>
  </div>
  <div class='row'>
    <div class="col-md-4">
      <% if @social_media_marketing_event.name.match(/ Milestone$/) %>
        <div data-hook="active" class="form-group">
          <%= label_tag :social_media_marketing_event_threshold, Spree.t(:milestone) %>
          <div class='input'>
            <%= f.number_field :threshold, class: 'form-control' %>
          </div>
        </div>
      <% elsif @social_media_marketing_event.name == 'Low Stock Products' %>
        <div data-hook="active" class="form-group">
          <%= label_tag :social_media_marketing_event_threshold, Spree.t(:low_stock_threshold) %>
          <div class='input'>
            <%= f.number_field :threshold, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
